<% include partials/header %>
<h1>Add new Contact</h1>
<form>
    <input type="text" placeholder="Name">
    <input type="number" placeholder="Phone Number">
    <input type="text" placeholder="City">
    <button>Submit</button>
</form>

<% include partials/footer %>